<main class="content">
    <h1>Desafío 1.1</h1>
    <div class="content-resource">
        <div class="rs-container">    
            <div class="statement">
                <p>{{descripcion}}</p>
            </div>

            <div class="step">
                <div class="step-statement">
                    <p>Marca una respuesta</p>
                </div>
                <div class="step-options">
                    <form action="/contenido/{{this.temaId}}/desafio/{{ejercicio.id}}/respuesta" method="post">
                    <input type="hidden" name="temaId" value="{{temaId}}">
                    <input type="hidden" name="desafioId" value="{{ejercicio.id}}">
                    <input type="hidden" name="estudianteId" value="{{estudianteId}}">

                    {{#each alternativas}}
                        <div class="option">
                            <input type="radio" name="alternativaId" value="{{this.id}}" id="alt-{{this.id}}" />
                            <label for="alt-{{this.id}}">{{this.alternativa}}</label>
                        </div>
                    {{/each}}
                    <input type="submit" value="Enviar" class="submit-btn">
                </form>
                </div>
            </div>

            <!-- Feedback de la respuesta -->
            <div class="feedback">
                {{#if feedback}}
                    {{#if feedback.correcto}}
                        <div class="feedback-statement correct">
                            <p class="indication">{{feedback.mensaje}}</p>
                            <p class="indication">La respuesta correcta es:</p>
                            <p class="correct-answer">{{feedback.alternativaCorrecta}}</p>
                        </div>
                    {{else}}
                        <div class="feedback-statement wrong">
                            <p class="indication">La respuesta correcta es:</p>
                            <p class="correct-answer">{{feedback.alternativaCorrecta}}</p>
                            <p class="indication">{{feedback.mensaje}}</p>
                            {{#if feedback.video}}                                
                                <video controls autoplay src="/{{feedback.video}}"></video>
                            {{/if}}
                        </div>
                    {{/if}}
                {{/if}}
            </div>

           <button class="next-step" onclick="location.href='/contenido'">¡Ejercicio completado!</button>
        </div>
        <!--
        {{>nav-rs}}-->
    </div>
</main>      