<main class="content">
    <h1>Contenido</h1>
    <div class="themes-container-c">
        {{#each temas}}
        <div class="theme-c">
            <div class="head-theme">
                <div class="name-theme">
                    <h3>{{this.titulo}}</h3>
                </div>
                <div class="sub-theme"></div>
                <div class="sub-theme"></div>
                <div class="sub-theme"></div>
                <!--
                <div class="sub-theme" id="theme-progress">
                    <h6>{{this.tema_progreso}}%</h6>
                    <p>Progreso</p>
                </div>
                <div class="sub-theme" id="theme-grade">
                    <h6>{{this.tema_nota}}</h6>
                    <p>Nota</p>
                </div>-->
                <button class="toggle-btn"><i class="fa-solid fa-chevron-down"></i></button>
            </div>

            <div class="body-theme">
                {{#each this.recursos}}
                
                    <a href="/contenido/{{this.id_tema}}/{{this.tipo}}/{{this.id}}" class="sub-body-content">
                        <div class="name-body">
                            {{this.titulo}}
                        </div>
                        <div class="sub-body"></div>
                        <div class="sub-body"></div>
                        <div class="sub-body"></div>
                        <!--
                        <div class="sub-body">
                            <h6 id="resource-progress">{{this.progreso}}%</h6>
                        </div>
                        <div class="sub-body">
                            <h6 id="resource-grade">{{this.nota}}</h6>
                        </div>-->
                    </a>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
</main>
