<main class="content">
    <h1>{{title}}</h1>
    <div class="content-resource">
        <div class="rs-container">
            <!-- Descripción del ejercicio -->
            <div class="statement">
                <p>{{descripcion}}</p>
            </div>

            <!-- Paso actual -->
            <div class="step">
                <div class="step-statement">
                    <p>{{paso.descripcion}}</p>
                </div>
                    <div class="step-options">
                        <form action="/contenido/{{this.temaId}}/ejercicio/{{ejercicio.id}}/paso/{{paso.id}}/respuesta" method="POST">
                            <input type="hidden" name="temaId" value="{{temaId}}">
                            <input type="hidden" name="ejercicioId" value="{{ejercicio.id}}">
                            <input type="hidden" name="pasoId" value="{{paso.id}}">
                            <input type="hidden" name="estudianteId" value="{{estudianteId}}">
                            
                            {{#each alternativas}}
                                <div class="option">
                                    <input type="radio" name="alternativaId" value="{{this.id}}" id="alt-{{this.id}}" />
                                    <label for="alt-{{this.id}}">{{this.descripcion}}</label>
                                </div>
                            {{/each}}
                                <input type="submit" value="Enviar" class="submit-btn">
                        </form>
                    </div>
            </div>

            <!-- Feedback de la respuesta -->
            <div class="feedback">
                {{#if feedback}}
                    {{#if feedback.correcto}}
                        <div class="feedback-statement correct">
                            <p class="indication">{{feedback.mensaje}}</p>
                            <p class="correct-answer">{{feedback.alternativaCorrecta}}</p>

                        </div>
                    {{else}}
                        <div class="feedback-statement wrong">
                            <p class="indication">La respuesta correcta es:</p>
                            <p class="correct-answer">{{feedback.alternativaCorrecta}}</p>
                            <p class="indication">{{feedback.mensaje}}</p>
                            {{#if feedback.video}}                                
                                <video controls autoplay src="{{feedback.video}}"></video>
                            {{/if}}
                            <p class="texto">{{feedback.texto}}</p>
                        </div>
                    {{/if}}
                {{/if}}
            </div>

           <!-- Botón para pasar al siguiente paso -->
            {{#if siguientePaso}}
                <button class="next-step" onclick="location.href='/contenido/{{temaId}}/ejercicio/{{ejercicio.id}}/paso/{{siguientePaso.id}}'">Siguiente</button>
            {{else}}
                <!-- Si no hay siguiente paso, se puede mostrar algún mensaje o acción alternativa -->
                <button class="next-step" onclick="location.href='/contenido'">¡Ejercicio completado!</button>
            {{/if}}

        </div>
        <div>
            
        </div>
        <!-- 
        {{> nav-rs}} Barra de navegación -->
    </div>
</main>
