<main class="content">
    <div class="icon-user">
        <p>{{iniciales}}</p>
    </div>
    <h1>Mi Perfil</h1>
    <div class="info-user">
        <div class="info-item">
            <p>Nombres:</p>
            <div class="info-data"><p>{{userData.nombres}}</p></div>
        </div>
        <div class="info-item">
            <p>Apellidos:</p>
            <div class="info-data"><p>{{userData.apellidos}}</p></div>
        </div>
        <div class="info-item">
            <p>Correo:</p>
            <div class="info-data"><p>{{userData.correo}}</p></div>
        </div>
        <div class="info-item">
            <p>Rol:</p>
            <div class="info-data"><p>{{userData.rol}}</p></div>
        </div>
    </div>
    <div class="btn-container">
        <button class="secondary-btn" onclick="window.location.href='/mi-perfil/cambiar-contrasena'">
            Cambiar Contraseña
        </button>
        <button class="primary-btn" onclick="window.location.href='/logout'">
            Cerrar Sesión
        </button>
    </div>
</main>